@model CategoryListViewModel
<div class="list-group">
    <a class="list-group-item list-group-item @(Model.SelectedCategoryUrl == "" ? "active" : "")"
       asp-area=""
       asp-controller="BooksShop"
       asp-action="BookList"
       asp-route-categoryurl="">
        Tüm Kitaplar
    </a>
    @foreach (var categoryViewModel in Model.CategoryViewModelList)
    {
        <a class="list-group-item list-group-item @(Model.SelectedCategoryUrl==categoryViewModel.Url ? "active" : "")"
       asp-area=""
       asp-controller="BooksShop"
       asp-action="BookList"
       asp-route-categoryurl="@categoryViewModel.Url">
            @categoryViewModel.Name
        </a>
    }
</div>
