@{
    ViewData["Title"] = "Ana Sayfa";
}
<h1 style="text-align: center" class="display-6">Ana Sayfa</h1>
<a 
    class="btn btn-success btn-sm" 
    asp-area="" 
    asp-controller="Product" 
    asp-action="Index">
    Ürünler
</a>