@*
Bu dosyalar View dosyalarıdır.
Uzantısındaki cs kısmı c# html kısmı ise html yapısını temsil eder.
Yani cshtml dosyalarına hem c# hem de html kodlarını bir arada yazabiiriz.
Bu sayfalara ayrıca Razor Page ya da View de denir.
*@

<h1>Bu ilk View dosyamız!</h1>
<p>Şu anda tüm MVC yapısını kendimiz kuruyoruz.</p>
<h1 style="color: red";>ANA SAYFA</h1>