@model List<MiniShopApp.Entity.Concrete.Category>
    
    <div class="list-group">
        <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-categoryUrl="" class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == null ? "active" : "")">Tüm Ürünler</a>
    @foreach (var c in Model)
    {
              <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-categoryUrl="@c.Url" class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == c.Url ? "active" : "")">@c.Name</a>
    }
    </div>   
