@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#container {
  text-align: center;
  margin: 20px 0;
}

#header {
  margin: 0 auto;
  border: 1px solid black;
  width: 60%;
}

#header h1 {
  color: tomato;
  font-weight: 400;
  font-size: 40px;
}

#input-task {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

#input-new-task {
  width: calc(100% - 60px);
}

#btn-new-task {
  width: 60px;
}
