<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <title>Home Page</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a href="/" class="navbar-brand">Bright Blog App</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a href="/blogs" class="nav-link">Blogs</a></li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="" class="list-group-item list-grop-item-action">Matematik</a>
                    <a href="" class="list-group-item list-grop-item-action">Fizik</a>
                    <a href="" class="list-group-item list-grop-item-action">Kimya</a>
                    <a href="" class="list-group-item list-grop-item-action">İngilizce</a>
                </div>
            </div>
            <div class="col-md-10">
                <h1 class="display-6">Ana Sayfa</h1>
                <div class="row">
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/static/images/01.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Lise 1.Sınıf Matematik Kursu
                                    </h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis tempore
                                        dignissimos aspernatur vel quo eius at dolor! Facere incidunt modi quasi
                                        nostrum. Architecto dolorum nisi placeat enim, velit deleniti delectus!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/static/images/02.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        YKS Hazırlık 11.Sınıf
                                    </h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis tempore
                                        dignissimos aspernatur vel quo eius at dolor! Facere incidunt modi quasi
                                        nostrum. Architecto dolorum nisi placeat enim, velit deleniti delectus!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/static/images/03.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Klasik Gitar Kursu
                                    </h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis tempore
                                        dignissimos aspernatur vel quo eius at dolor! Facere incidunt modi quasi
                                        nostrum. Architecto dolorum nisi placeat enim, velit deleniti delectus!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>