@{
    ViewData["Title"] = "Contact";
}

<h1 style="text-align: center;">Hello there!</h1>
<p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non voluptate ipsam eligendi optio molestiae atque debitis dolorum dolore sit autem labore ipsa beatae perferendis excepturi accusamus nisi, aut aliquid placeat!</p>