<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <title>Home Page</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a href="/" class="navbar-brand">Bright Blog App</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a href="/blogs" class="nav-link">Blogs</a></li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="" class="list-group-item list-grop-item-action">Matematik</a>
                    <a href="" class="list-group-item list-grop-item-action">Fizik</a>
                    <a href="" class="list-group-item list-grop-item-action">Kimya</a>
                    <a href="" class="list-group-item list-grop-item-action">İngilizce</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>