@model ProductsCategories
@{
    ViewData["Title"] = "Ana Sayfa";
}
<h1 style="text-align: center" class="display-6">HOME</h1>
<h1>Product List</h1>
@foreach (var product in Model.Products)
{
    <div>
        @product.Name
    </div>
}
<hr />
<h1>Category List</h1>
@foreach (var category in Model.Categories)
{
    <div>
        @category.Name
    </div>
}

